<ion-header>
  <ion-toolbar>
    <ion-title>List of Farms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="showFarm">
    <ion-card (click)="gotoFarm()">
      <img src="assets/agrisibo/banner2.jpg" />
      <ion-card-header>
        <ion-card-subtitle>📍 Mantalongon Dalaguete, Cebu</ion-card-subtitle>
        <ion-card-title>The Farm-Farm Away</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1998 by Jonathan Tangpos, The Farm-Farm Away was awarder with "The Most Fresh Farm" of the year 2005.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/agrisibo/banner3.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>📍 Naga, Cebu</ion-card-subtitle>
        <ion-card-title>Farmville</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1998 by Gabriel Patalinjug, The Farm-Farm Away was awarder with "The Most Fresh Farm" of the year 2006.
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>