<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="ion-text-center">
    <h1>THE FARM-FARM AWAY RATINGS</h1>
    <h2>⭐⭐⭐⭐⭐ out of 5</h2>
  </ion-label>

  <ion-list>
    <ion-list-header>
      Recent Reviews
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar/avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>Fresh Veggies</h3>
        <p>There Cabbage is very fresh and the...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar/avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Vegetarian's Store</h3>
        <p>I'm a vegetarian and all I can say is that...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar/avatar-rey.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>Quality and Cheap</h3>
        <p>The Quality is very good and the price, woohh! it is...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar/avatar-luke.png">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Will Order Again</h3>
        <p>I didn't regret ordering from this store. It has the...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
